* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.nav {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  padding: 4rem;
}

.navinfo {
  color: white;
  margin: 0;
  position: relative;
  cursor: pointer;
}

.navinfo::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: purple;
  transition: 0.3s;
}

.navinfo:hover::after {
  width: 100%;
}

.accountform {
  width: min(90vw, 400px);

  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  background: rgba(255, 255, 255, 0.075);

  /* border: 1px solid rgb(255, 255, 255); */

  backdrop-filter: blur(12px);

  border-radius: 20px;

  box-shadow:
    0 0 30px rgba(139, 92, 246, 0.15);

  color: white;
}

.home-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
}

.accountform input {
  padding: 12px;
  border: 2px solid purple;
  border-radius: 8px;
  outline: none;
  background-color: black;
  color: white;
}
.teco {
  color: purple;
  margin-top: 0;
  margin-bottom: 0;
}
input:focus {
  border-color: violet;
  box-shadow: 0 0 8px purple;
}

.btnform {
  background-color: rgb(128, 21, 228);
  color: white;
  font-size: medium;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  width: fit-content;
  align-self: center;
  min-width: 120px;
}

@media (max-width: 600px) {
  .nav {
    gap: 0.5rem;
  }

  .accountform {
    padding: 1rem;
  }

  .accountform button {
    width: 100%;
    max-width: none;
  }
}
.passwordBox {
  position: relative;
  width: 100%;
}

.passwordBox input {
  width: 100%;
  padding-right: 50px;
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
}
.infobox {
  /* border: 2px solid purple; */
  flex: 1;
  max-width: 50%;
  margin-left: 4rem;
}
.description {
  color: white;
  font-size: large;
}
.explore {
  background-color: black;
  color: white;
  padding: 1rem;
  font-size: medium;
}
